
body{
    background-color: grey;
  
}


#logo{
    text-align: center;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-size: 70px;
}


footer {
    text-align: center;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    margin-bottom: 0%;
   background-color: white
}

